<p id="notice"><%= notice %></p>

<div id='newBookMark' class= "py-2">
  <h3 class="pt-5 pb-2">New Bookmark</h3>
  <button type="button" class="btn bg-light my-2 text-center"><%=  render 'form', bookmark: @bookmark %> </button>
</div>


<h2 class="pt-5">Bookmarks</h2>



<div >
  <%= render @bookmarks %>
  
</div>
  
  

