<div class="container">
  <p id="notice"><%= notice %></p>

  
  
<div id='newPost'>
<h4 class="pt-5">New Category</h4>
  <button type="button" class="btn  my-2"><%= render 'form', category: @category %></button>
</div>


<h2 class= pt-4>Categories</h2>

  <ul id="allCategories">
    <%= render @categories%>
  </ul>
  <br>
  
</div>